<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/default_style.css" />
    <script src="/static/js/temp.js" defer></script>
    <title>WFC</title>
</head>
<body>
    <div id="c1">
        <canvas id="canvas1"></canvas>
        <div id="inputs">
            <div class="box1">
                <label for="field_width">Field Width</label>
                <input id="field_width" value="800">
                <label for="field_height">Field Height</label>
                <input id="field_height" value="800">
            </div>
            <div class="box1">
                <label for="gird_width">Grid Width</label>
                <input id="gird_width" value="5">
                <label for="gird_height">Grid Height</label>
                <input id="gird_height" value="5">
            </div>
            <div class="box1">
                <button id="drawButton">Draw</button>
                <button id="resetButton">Reset</button>
                <button id="DEBUG_BUTTON">DEBUG</button>
            </div>
        </div>
    </div>
</body>
</html>